@page
@using ER_Recovery.Domains.Enums
@using ER_Recovery.Web.Pages.Helpers
@model ER_Recovery.Web.Pages.AA.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Eaton Rapids Area Meetings";

    var currentDay = (MeetingDay)DateTime.Now.DayOfWeek;

    var todaysMeetings = MeetingFilterHelper.GetTodaysMeetings(Model.Meetings, MeetingType.AA);


}

<style>
    .sobriety-date {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
</style>

<div class="container">
    <h1 class="mb-5">Alcoholics Anonymous</h1>



    @await Html.PartialAsync("_TodaysMeetings", Model.Meetings)

</div>