@page
@model ER_Recovery.Web.Pages.AA.ResourcesModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                    <th>Resource</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>AA Lansing</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table">
            <thead>
                <tr>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://aalansingmi.org/" target="_blank">AA Lansing</a></td>
                </tr>

            </tbody>
            </table>
        </div>
    </div>
</div>