@page
@model ER_Recovery.Web.Pages.AA.SobrietyAnniversariesModel
@{
}

<h5>Sobriety Anniversaries:</h5>
<div class="container">
    <div class="sobriety-date">

        @if (Model.SobrietyDateUsers.Any())
        {
            <table class="table-bordered table fs-6">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Nickname/Handle</th>
                        <th>Sobriety Date</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model.SobrietyDateUsers)
                    {


                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.UserHandle</td>
                            <td>@user.SobrietyDate?.ToString("MM-dd-yyyy")</td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h6>There are no recognized sobriety anniversaries today.</h6>
        }
    </div>
</div>
